<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Таблица {% endblock %}</title>
        <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
</head>
<body>
<div id="table">
<table border="2">

    <tr><th> Дата </th> <th>Название</th> <th>Расстояние</th> <th>Количество</th></tr>
{% for i in page_obj %}
    <tr><td>{{i.date}}</td><td>{{i.title}}</td><td>{{i.distance}}</td><td>{{i.number}}</td></tr>
{% endfor %}

</table>

<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
{% block content %}
<form id="form" action="" method="post">
<h2>Сортировка по: </h2>
    {% csrf_token %}
<select name = 'column'>
  <option value = 'title' >Название</option>
  <option value = 'distance' >Расстояние</option>
  <option value = 'number' >Количество</option>
</select>
<select name = 'condition'>
  <option value = 'more' >Больше</option>
  <option value = 'less' >Меньше</option>
  <option value = 'contains' >Содержит</option>
  <option value = 'equals' >Равно</option>
</select>
    <input type="text" id = "user-input" name = "value" placeholder="По значению" autofocus="">
    <button id='sender'>Сортировка</button>
</form>

{% endblock %}
    <script src="static/script.js"></script>
</body>


</html>